
body {
	background-color:#3F2860;
	color:#3F2860;
	font-family : Verand, Arial, sans-serif;
	}
header {
	background-color: #9BC1C2;
	background-image: url(lilyheader.jpg);
	height: 150px;
	background-repeat: no-repeat;
	padding-left:1em; 
	padding-right: 1em;
	background-position: right;
	}
h1 {
	padding-top:50px;
	padding-left:2em;

	}
nav {
	font-weight: bold;
	padding:1em;
	float: left;
	width: 160px;
		}
nav a{
    display: block;
	text-decoration:none;
	text-align: center;
	font-weight: bold;
	border: outset 3px #CCCCCC;
	padding: 1em;
	margin-bottom: 1em;
}
a:link {
    color: #3F2860;
}
a:visited {
    color: #497777;
}
a:hover {
    color: #A26100; border: 3px inset #333333;
	}

nav ul{list-style-type: none;}
nav ul{padding-left: 0px;}

.studio {
	font-style: italic;
	}
footer {
	text-align: center;
	font-size: small;
	font-style: italic;
	background-color: #9BC1C2;
	padding:1em;
	}
#wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #F5F5F5;
	min-width: 1200px;
	max-width: 1480px;
}
.clear {
	clear: both;
}
main {
	background-color: #FFFFFF;
	padding-left:2em;
	padding-right:2em;
	display: block;
	margin-left: 170px;
	padding-top: 1em;
}
.floatleft {
	float: left;
	margin-right: 4em;
}
*{
	box-sizing:border-box;
}
table{
    width: 60%;
    border: 1px;
    border-color: #3F2860;
    border-collapse: collapse;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
        
    }
td, th{
    border: 1px solid #3F2860;
    padding: 5px;
    
    }
    td{
        text-align: left;
        font-weight: normal;
    }
    th{

        text-align: center;
        font-weight: bold;
    }
    tr:nth-of-type(even){
        background-color: #9BC1C2;
    }

caption{
        font-weight: bold;
        font-size: 120%;
        margin: 1em; 
    }
label{
    float: left;
    display: block;
    text-align: right;
    font-weight: bold;
    width: 10em;
    padding-right: 1em;
}
input{
    display: block;
    margin-bottom: 2em;
}
textarea{
    display: block;
    margin-bottom: 2em;
} 
#mySubmit{
    margin-left: 12em;
}
form{
    padding: 3em;
}
header, main, nav, footer, section, article, figure, figcaption, aside {display:block;}

#mobile {display:none;}
#desktop {display: inline;}

@media only screen and (max-width: 1024px){
body{
	padding: 0;
	margin: 0;
}
#wrapper{
	width: 100%;
	min-width: 0;
	margin: 0;
	padding: 0;
}
header{
	padding-top: 1px;
}
nav{
	float: none;
	width:auto;
	padding-left: 2em;
}
nav a{
	padding: 0.2em;
	margin-left: 0.3em;
	float: left;
	width: 23%;
}
main{
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0;
	font: 90%;
	clear: both;
	}
#hero img{
	width:100%;
	height: auto;
}
h2{
	padding-left: 2em;
	padding-right: 2em;
}
h3{
	padding-left: 2em;
	padding-right: 2em;
}
p{
	padding-left: 2em;
	padding-right: 2em;
}
dl{
	padding-left: 2em;
	padding-right: 2em;
}
main ul{
	margin-left:2em;
}
.floatleft{
	margin-left: 2em;
	margin-bottom: 1em;
}
.clear{
	padding-left: 2em;

}
}
@media only screen and (max-width: 768px){

h1{
	font-size: 2em;
	padding-top:0.25em;
	padding-left: 1.5em;
	width: 85%;
	text-align: center;
}
nav a{
	padding: 0.5em;
	width: 45%;
	float: left;
	min-width: 6em;
	margin-left: 0.5em;
}
main{
	padding-top:0;
}
.floatleft{
	float:none;
	display:none;
}
#hero{
	display:none;
}
footer{
	padding:0.5em;
	margin: 0;
}
#mobile{display:inline;}
#desktop{display: none;}
}

